@use "../../Styles/variables.scss";

.transfer-form {
  .popup-credit-input {
    .ant-form-item-explain-error {
      width: 200px;
    }
  }

  .ant-row {
    align-items: unset;
  }
  padding: 0px 15px;
  .sub-text {
    margin-bottom: 35px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .label {
    text-align: left;
    font-size: 0.9rem;
    color: variables.$body-text-color;
  }
  .seperator {
    font-size: 1.2rem;
    color: variables.$line-colors;
  }

  .footer {
    margin-bottom: 0px;
    margin-top: 15px;
  }
  color: variables.$body-text-color;

  label {
    font-size: 0.8rem;
  }
  .ant-radio-wrapper {
    font-size: 0.9rem;
  }

  input {
    color: variables.$body-text-color;
  }

  button {
    text-transform: uppercase;
    font-weight: 500;
  }
}

.model-subText {
  color: #3a354180;
  font-size: 12px;
  padding-top: 10px;
  font-weight: 600;
}
// .icon{
//   // filter: brightness(0) saturate(100%) invert(45%) sepia(99%) saturate(2067%) hue-rotate(170deg) brightness(98%) contrast(99%);
// }

.icon-danger {
  color: #FF4D4F;
}

.checkbox-danger {
  color: #ff4d4f;

  // Change the border and background color of the checkbox itself
  .ant-checkbox-inner {
    border-color: #ff4d4f;
  }

  // Change the color when checked
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
  }

  // Optional: Change the checkmark color for contrast
  .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #fff;
  }
}

.response-icon{
  filter: brightness(0) saturate(100%) invert(45%) sepia(99%) saturate(2067%) hue-rotate(170deg) brightness(98%) contrast(99%);
}

